<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>asdasd</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>asdasd</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>asdasd</string>
	<key>NSCameraUsageDescription</key>
	<string>asdasd</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.222824816339-3lr2jccintgcgqa3nci5ie0s0fdpts49</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>https://smiradd.ru/teams/invite/n9dUh4GKFPsjr2AK2</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>222824816339-3lr2jccintgcgqa3nci5ie0s0fdpts49.apps.googleusercontent.com</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>OpenSans-Bold.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>OpenSans-Medium.ttf</string>
		<string>OpenSans-SemiBold.ttf</string>
		<string>OpenSans-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array/>
</dict>
</plist>
